{% extends "base.html.twig"%}

{% block title %}
	About Page
{% endblock %}

{%  block body %}
	<main class="container">
		<p>This is the About Page</p>
		<a href="{{path("home")}}">
			Home Page
		</a>
	</main>
{% endblock %}
