{% extends "base.html.twig" %}

{% block title %}
	<h1>Symfony Calculator</h1>
{% endblock %}


{% block body %}

	<body>

		<div class="title">
			<h1>
				SYMFONY
				<br>
				CALCULATOR
			</h1><br>
		</div>
		<div class="form_container">
			<form action="{{path("calculator_page")}}" method="get">


				<label for="number1">Number 1:</label>
				<br>
				<input type="number" name="number1" value="{{ number1 }}" required>
				<br>

				<label for="operation">Operation:</label>
				<br>
				<select name="operation" id="operation">
					<option value="add">ADD</option>
					<option value="subtract">SUBTRACT</option>
					<option value="multiply">MULTIPLY</option>
					<option value="divide">DIVIDE</option>
				</select>
				<br>

				<label for="number2">Number 2:</label>
				<br>
				<input type="number" name="number2" value="{{ number2 }}" required>

				<br>
				<button name="submit">COUNT</button><br>

				<button type="submit" name="clear" value="1">Clear</button>
			</form>
		</div>

		{% if value %}
			<div class="result">
				<h2>The result is:
					<br>
					{{value}}</h2>
			</div>
		{% endif %}

	</body>


{% endblock %}
